In [1]:
#Environment preparation
import sys
!pip install expectexception

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting expectexception
  Downloading ExpectException-0.1.1-py2.py3-none-any.whl (3.4 kB)
Installing collected packages: expectexception
Successfully installed expectexception-0.1.1

In [2]:
# Preparing environment
import expectexception

# %%expect_exception TypeError

# 1. BOOLEANS

In [3]:
# Boolean values can be represented as one of two constant objects "False" and "True". 
# Booleans behave like integers 0 and 1.
True == 1

True

In [4]:
False == 0

True

In [5]:
False

False

**MINI CHALLENGE #1:** 
- **What will this code generate?**
```
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)
```

In [6]:
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)

True
False

# 2. LIST

In [7]:
# A list is a collection which is ordered and changeable. 
# List allows duplicate members.
my_list = [1, 2, 3]
my_list

[1, 2, 3]

In [8]:
# Obtain the datatype
type(my_list)

list

In [9]:
# list with mixed datatypes (for example you can have strings and integers in one list)
my_list = [2, 'GOOG', 5]
my_list

[2, 'GOOG', 5]

In [10]:
# You can have a list inside another list (nested list)
my_list = ['GOOG', ['APPL', 5, 6]]
my_list

['GOOG', ['APPL', 5, 6]]

In [11]:
# Access specific elements in the list with Indexing
# Note that the first element in the list has an index of 0 (little confusing but you'll get used to it!)
my_list[0]

'GOOG'

In [12]:
# indexing for nested lists
my_list[1][0]

'APPL'

In [13]:
my_list[1][2]

6

In [14]:
my_list[1]

['APPL', 5, 6]

In [15]:
# Negative Indexing
my_list[-2]

'GOOG'

In [16]:
# List Slicing (getting more than one element from a list) 
my_list = [2, 5, 7, 'GOOG', 'SP500', 'AMZN', 15]

# obtain elements starting from index 3 up to and not including element with index 6  
my_list[3:6]

['GOOG', 'SP500', 'AMZN']

In [17]:
# Obtain elements starting from index 3 to end
my_list[3:]

['GOOG', 'SP500', 'AMZN', 15]

In [18]:
# All elements start to end
my_list

[2, 5, 7, 'GOOG', 'SP500', 'AMZN', 15]

In [19]:
# Obtain the length of the list (how many elements in the list) 
len(my_list)

7

**MINI CHALLENGE #2:**
- **Print the first, second and last element in the list below**
- **Print all elements in the list, first 3 elements, and last three elements**

```
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
```

In [20]:
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
print(stocks[:2], stocks[-1])
print(stocks)
print(stocks[:3])
print(stocks[-3:])

['GOOG', 'TSLA'] EUR/USD
['GOOG', 'TSLA', 'AAPL', 'T', 'SP500', 'BTC', 'EUR/USD']
['GOOG', 'TSLA', 'AAPL']
['SP500', 'BTC', 'EUR/USD']

**MINI CHALLENGE #3:** 
- **Print GOOG**
- **Print AAPL, GOOG, TSLA** 
- **Print T with two different ways**

```
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
```

In [21]:
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
print(my_list[1][1])
print(my_list[1])
print(my_list[3])
print(my_list[-1])

GOOG
['AAPL', 'GOOG', 'TSLA']
T
T

# 3. DICTIONARY

In [22]:
# my_dict = {'key1':'value1', 'key2':'value2', 'key3':'value3'}
# Dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its corresponding value.
# Keys are unique within a dictionary while values may not be. 
# List elements are accessed by their position in the list, via indexing while Dictionary elements are accessed via keys

# Define a dictionary using key-value pairs
my_dict = {
    'key1':'value1', 
    'key2':'value2', 
    'key3':'value3'
}

In [23]:
# View the dictionary
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [24]:
# Check the data type
type(my_dict)

dict

In [25]:
# Access specific element in the dictionary using a specific key (ex: Key2)
my_dict['key2']

'value2'

In [26]:
# Define a dictionary for a bank client listing all his/her assets! 
bank_dict = {'Real estate': 150000, 'stocks': 10000, 'savings': 20000}
bank_dict

{'Real estate': 150000, 'stocks': 10000, 'savings': 20000}

In [27]:
# Access elements in the dictionary
bank_dict['stocks']

10000

In [28]:
# Add a new item to an existing dictionary
bank_dict['Crypto'] = 1500
bank_dict

{'Real estate': 150000, 'stocks': 10000, 'savings': 20000, 'Crypto': 1500}

In [29]:
# remove an item from the dictionary
_ = bank_dict.pop('savings')
bank_dict

{'Real estate': 150000, 'stocks': 10000, 'Crypto': 1500}

In [30]:
%%expect_exception NameError
# delete the entire dictionary
# Note that you cannot print it out again because the entire dictionary has been deleted
del my_dict
my_dict

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<ipython-input-30-d25cdbe1f7e3> in <module>
      2 # Note that you cannot print it out again because the entire dictionary has been deleted
      3 del my_dict
----> 4 my_dict

NameError: name 'my_dict' is not defined

**MINI CHALLENGE #4:**
- **Create a dictionary with 3 of your favourite stocks and their prices**

In [31]:
my_dict = {
    '3M': 125,
    'Apple': 139,
    'Cisco': 45
}
my_dict

{'3M': 125, 'Apple': 139, 'Cisco': 45}

# 4. STRINGS

In [32]:
# A string in Python is a sequence of characters
# String can be enclosed by either double or single quotes
my_string = 'Hello Everyone and Welcome to Python for finance course!'
my_string

'Hello Everyone and Welcome to Python for finance course!'

In [33]:
# Obtain the datatype
type(my_string)

str

In [34]:
# Combining two strings together (Let's combine the first and last name of a bank's client)
b_firstname = 'Laila'
b_lastname = 'Aly'
print(b_firstname + b_lastname)

LailaAly

In [35]:
# You can combine both strings together and add spaces in between
' '.join([b_firstname, b_lastname])

'Laila Aly'

In [36]:
# Methods on strings 
# upper will be used to convert the string into upper case
my_string.upper()

'HELLO EVERYONE AND WELCOME TO PYTHON FOR FINANCE COURSE!'

In [37]:
# Split us used to divide up the string into words 
# The output from split is a list
sl = my_string.split()
sl

['Hello',
 'Everyone',
 'and',
 'Welcome',
 'to',
 'Python',
 'for',
 'finance',
 'course!']

In [38]:
# Let's check that the datatype is list!
type(sl)

list

In [39]:
# you can index any element in the list using indexing
sl[1]

'Everyone'

In [40]:
# you can specify which letter could be choosed to perform the split
b_email = 'laila.aly@gmail.com'
b_email.split('@')

['laila.aly', 'gmail.com']

**MINI CHALLENGE #5:**
- **Write a code that takes an input from a bank client asking him/her about their feedback regarding the service. The code should split the client input into words and print them on screen**

In [41]:
feedback = input('How was the provided service? ')
print(feedback.split())

How was the provided service? Very good
['Very', 'good']

**MINI CHALLENGE #6:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

In [42]:
email = input('Email: ')
user_domain = email.split('@')
user_name = user_domain[0].split('.')
print(user_domain)
print(user_name)
print('First name: ', user_name[0].capitalize())

Email: ana.clavel@gmail.com
['ana.clavel', 'gmail.com']
['ana', 'clavel']
First name:  Ana

# 5. TUPLES

In [43]:
# A tuple is a sequence of immutable Python objects. 
# Tuples are sequences, just like lists. 
# The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.
my_tuple = ('GOOG', 'APPL', 10, 15, 1992)

In [44]:
type(my_tuple)

tuple

In [45]:
my_tuple

('GOOG', 'APPL', 10, 15, 1992)

In [46]:
# Accessing elements in a tuple
my_tuple[1]

'APPL'

In [47]:
# Tuple slicing
my_tuple[1:3]

('APPL', 10)

In [48]:
%%expect_exception TypeError
# Changing a vlue of a tuple does not work! 
# 'tuple' object does not support item assignment
my_tuple[1] = 0

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-48-f7d498d5cec5> in <module>
      1 # Changing a vlue of a tuple does not work!
      2 # 'tuple' object does not support item assignment
----> 3 my_tuple[1] = 0

TypeError: 'tuple' object does not support item assignment

In [49]:
# Create a New Tuple from existing Tuples
my_tuple2 = my_tuple + (450, 55, 977, 2100)
my_tuple2

('GOOG', 'APPL', 10, 15, 1992, 450, 55, 977, 2100)

**MINI CHALLENGE #7:**
- **Define a tuple with your first name, last name, age and the number of stocks in your portfolio. Find the length and type as well.**

In [50]:
my_tuple = ('Jacesca', 'Escalante', 45, 1500)
print(len(my_tuple), type(my_tuple), my_tuple)

4 <class 'tuple'> ('Jacesca', 'Escalante', 45, 1500)

# 6. SETS

In [51]:
# A set is an unordered collection of items. Every element is unique (no duplicates).
# A set is created by placing all the items (elements) inside curly braces {}, separated by comma or by using the built-in function set().
# set of integers
my_set = {'GOOG', 'T', 'APPL', 'GOOG', 'T', 'APPL'}
my_set

{'APPL', 'GOOG', 'T'}

In [52]:
# set do not have duplicates
my_set = set(['T', 'APPL', 'GOOG', 'TSLA', 'AAPL', 'T', 'APPL', 'GOOG', 'TSLA', 'AAPL'])
my_set

{'AAPL', 'APPL', 'GOOG', 'T', 'TSLA'}

**MINI CHALLENGE #8:**
- **Remove the duplicates from the following list:**


```
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
```

In [53]:
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
list(set(my_list))

['APPL', 'GOOG', 5, 6, 'TSLA', 'T', 'AAPL']

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:** 
- **What will this code generate?**
```
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)
```

In [54]:
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)

True
False

**MINI CHALLENGE #2 SOLUTION:**
- **Print the first, second and last element in the list**
- **Print all elements in the list, first 3 elements, and last three elements**

```
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
```

In [55]:
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
print(stocks[0])
print(stocks[1])
print(stocks[-1])

GOOG
TSLA
EUR/USD

In [56]:
print(stocks[:])
print(stocks[0:3])
print(stocks[4:])

['GOOG', 'TSLA', 'AAPL', 'T', 'SP500', 'BTC', 'EUR/USD']
['GOOG', 'TSLA', 'AAPL']
['SP500', 'BTC', 'EUR/USD']

**MINI CHALLENGE #3 SOLUTION:** 
- **Print GOOG**
- **Print AAPL, GOOG, TSLA** 
- **Print T with two different ways**

```
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
```

In [57]:
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]

In [58]:
print(my_list[1][1])

GOOG

In [59]:
print(my_list[1])

['AAPL', 'GOOG', 'TSLA']

In [60]:
print(my_list[3])

T

In [61]:
print(my_list[-1])

T

**MINI CHALLENGE #4 SOLUTION:**
- **Create a dictionary with 3 of your favourite stocks and their prices**

In [62]:
stocks = {"SP500": 3000, 
          "AAPL": 400,
          "TSLA": 2200}
print(stocks)

{'SP500': 3000, 'AAPL': 400, 'TSLA': 2200}

**MINI CHALLENGE #5 SOLUTION:**
- **Write a code that takes an input from a bank client asking him/her about their feedback regarding the service. The code should split the client input into words and print them on screen**

In [63]:
my_string = str(input("What did we do at the bank today? are you satisfied with the service? "))
words = my_string.split(" ")
print("Here are the list of words you entered:", words)

What did we do at the bank today? are you satisfied with the service? Very satisfied. Great work done!
Here are the list of words you entered: ['Very', 'satisfied.', 'Great', 'work', 'done!']

**MINI CHALLENGE #6 SOLUTION:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

In [64]:
input_str = input("Welcome to the bank, please enter your e-mail address: ")
out_str = input_str.split('@')
out_str = out_str[0].split('.')
print(out_str[0])

Welcome to the bank, please enter your e-mail address:ana.clavel@gmail.com
ana

**MINI CHALLENGE #7 SOLUTION:**
- **Define a tuple with your first name, last name, age and the number of stocks in your portfolio. Find the length and type as well.**

In [65]:
my_tuple = ("Ryan", "ahmed", 25, 10)
print(my_tuple)

('Ryan', 'ahmed', 25, 10)

In [66]:
len(my_tuple)

4

In [67]:
type(my_tuple)

tuple

**MINI CHALLENGE #8 SOLUTION:**
- **Remove the duplicates from the following list:**


```
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
```

In [68]:
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6, 5]
out_list = list(set(my_list))
print(out_list)

['APPL', 'GOOG', 5, 6, 'TSLA', 'T', 'AAPL']