In [1]:
#Environment preparation
import sys
!pip install expectexception

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: expectexception in /usr/local/lib/python3.7/dist-packages (0.1.1)

In [2]:
# Preparing environment
import expectexception

# %%expect_exception TypeError

# 1. FOR LOOPS

In [3]:
# For loops are used for iterating over a sequence (a list, a tuple, a dictionary, a set, or a string).
# An action can be executed once for each item in a list, tuple of the for loop.
my_list = [1, 2, 3]
my_list

[1, 2, 3]

In [4]:
for i in my_list:
    print(i)

1
2
3

In [5]:
# you can do more than one task for every loop such as printing out 'Hello world' 
for i in my_list:
    print(i)
    print('Hello!')

1
Hello!
2
Hello!
3
Hello!

In [6]:
# List of strings
my_list = ['AAPL', 'GOOG', 'T', 'TSLA', 'SP500']

In [7]:
[i for i in my_list]

['AAPL', 'GOOG', 'T', 'TSLA', 'SP500']

In [8]:
# you can loop over a string as follows
print([i for i in 'TSLA'])
print([i for i in my_list[3]])

['T', 'S', 'L', 'A']
['T', 'S', 'L', 'A']

**MINI CHALLENGE #1:**
- **Write a code that takes in a string and prints it out on the screen except for any letter 'T'. You can replace the letter 'T' with '*'.**

In [9]:
s = input('Provide an string: ')
s.upper().replace('T', '*')

Provide an string: Temporary

'*EMPORARY'

# 2. RANGE

In [10]:
# Range() generates a list of numbers, which is used to iterate over with for loops.
# range() is 0-index based, meaning list indexes start at 0, not 1. 
# The last integer generated by range() is up to, but not including, last element. 
# Example: range(0, 10) generates integers from 0 up to, but not including, 10.
my_range = range(10)
my_range

range(0, 10)

In [11]:
[i for i in my_range]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
# Range of numbers from 1 to 20 with steps of 2
[i for i in range(1, 20, 2)]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [13]:
[i for i in reversed(range(5))]

[4, 3, 2, 1, 0]

**MINI CHALLENGE #2:**
- **Write a code that takes in the maximum and minimum limits from the user and prints out even numbers only between the provided range**

In [14]:
try:
  lim_max = int(input('Max limit: '))
  lim_min = int(input('Min limit: '))
  if lim_max <= lim_min:
    print('Limits not valid')
  else:
    print(list(range(lim_min + (lim_min%2), lim_max+1, 2)))
except Exception as e:
  print(e)

Max limit: 22
Min limit: 10
[10, 12, 14, 16, 18, 20, 22]

**MINI CHALLENGE #3:**
- **Write a code that generates the following table:**
```
1   1    1
2   4    8
3   9   27
4  16   64
5  25  125
6  36  216
7  49  343
8  64  512
9  81  729
10 100 1000
```

In [15]:
[[i, i**2, i**3] for i in range(1, 11)]

[[1, 1, 1],
 [2, 4, 8],
 [3, 9, 27],
 [4, 16, 64],
 [5, 25, 125],
 [6, 36, 216],
 [7, 49, 343],
 [8, 64, 512],
 [9, 81, 729],
 [10, 100, 1000]]

# 3. WHILE LOOPS

In [16]:
# While loop can be used to execute a set of statements as long as a certain condition holds true.
i = 0

while i <=15:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

**MINI CHALLENGE #4:**
- **Write a code that displays numbers from 1 to 30 using for and while loops**

In [17]:
limit = 30
print([i for i in range(1,limit+1)])

my_list, i = [], 1
while i<=limit:
  my_list.append(i)
  i += 1
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

**MINI CHALLENGE #5:**
- **Create a rolling dice game that assume we have two dice (#1 and #2). The dice is being thrown and a random number is generated everytime. The game should be designed such that it prompts the user to ask if he/she would like to keep playing or exit the game.**

In [18]:
from random import randint

complete = 'Y'
while complete == 'Y':
  x = randint(1, 6)
  y = randint(1, 6)
  print(f'Dice 1 throw result: {x}')
  print(f'Dice 2 throw result: {y}')

  while True:
    complete = input('Continue? (Y/N): ').upper()
    if complete not in ['Y', 'N']:
      print('Only Y or N are allowed. Try again!')
    else:
      break

Dice 1 throw result: 4
Dice 2 throw result: 6
Continue? (Y/N): g
Only Y or N are allowed. Try again!
Continue? (Y/N): y
Dice 1 throw result: 3
Dice 2 throw result: 6
Continue? (Y/N): n

# 4. BREAK A LOOP

In [19]:
# break() is used to exit a for loop or a while loop
# continue() is used to skip the current block, and return to the "for" or "while" statement.
my_list = ["GOOG", "AAPL", "T", "TSLA", "SP500"]
my_list

['GOOG', 'AAPL', 'T', 'TSLA', 'SP500']

In [20]:
# print out all elements in the list
for i in my_list:
    print(i)

GOOG
AAPL
T
TSLA
SP500

In [21]:
# print out all elements in the list up until the AT&T stock (Ticker Symbol = T) is detected
for i in my_list:
  print(i)
  if i == 'T':
    break

GOOG
AAPL
T

In [22]:
# Print only odd elements and skip even numbers
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in my_list:
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

**MINI CHALLENGE #6:**
- **Write a code that continiously gets data from the user and calculates the average and print out on the screen. The code exits when the user enters 'e'.**

In [23]:
import numpy as np

n = []
while True:
  try:
    x = input('Give a number (e to exit): ')
    if x == 'e':
      break
    x = int(x)
  except Exception as e:
    print(e, '\nTry again!...')
    continue
  n.append(x)
  print('Average of {} is {}'.format(n, np.mean(n)))

Give a number (e to exit): hello
invalid literal for int() with base 10: 'hello'
Try again!...
Give a number (e to exit): 10
Average of [10] is 10.0
Give a number (e to exit): 22
Average of [10, 22] is 16.0
Give a number (e to exit): hello
invalid literal for int() with base 10: 'hello'
Try again!...
Give a number (e to exit): 30
Average of [10, 22, 30] is 20.666666666666668
Give a number (e to exit): 30
Average of [10, 22, 30, 30] is 23.0
Give a number (e to exit): e

# 5. NESTED LOOPS

In [24]:
# Nested loops are loops that exist inside the body of another loop
for x in range(1, 4): # slow loop 
    for y in range(1, 11):   # fast loop
        print('{} * {} = {}'.format(x, y, x*y))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [25]:
color_list = ['black', 'white', 'gold']
phone_list = ['iphone', 'samsung', 'blackberry']
for i in color_list:
    for j in phone_list:
        print(i, j)

black iphone
black samsung
black blackberry
white iphone
white samsung
white blackberry
gold iphone
gold samsung
gold blackberry

In [26]:
[(i, j) for i in color_list for j in phone_list]

[('black', 'iphone'),
 ('black', 'samsung'),
 ('black', 'blackberry'),
 ('white', 'iphone'),
 ('white', 'samsung'),
 ('white', 'blackberry'),
 ('gold', 'iphone'),
 ('gold', 'samsung'),
 ('gold', 'blackberry')]

**MINI CHALLENGE #7:**
- **Write a code that takes in a number (range between 1 and 9) from the user and print out the multiplication table up until that number.**

In [27]:
from re import T
while True:
  try:
    t = int(input('Enter a number between 1 and 9: '))
    if t < 1 or t > 9:
      raise Exception('Sorry, only numbers between 1 and 9 are allowed!')
    break
  except Exception as e:
    print(e, '\nTry again...')

for x in range(1, t+1): # slow loop 
    print(f'Table {x}: ')
    for y in range(1, 11):   # fast loop
        print('\t{} * {} = {}'.format(x, y, x*y))

Enter a number between 1 and 9: hello
invalid literal for int() with base 10: 'hello'
Try again...
Enter a number between 1 and 9: 11
Sorry, only numbers between 1 and 9 are allowed!
Try again...
Enter a number between 1 and 9: 2
Table 1:
	1 * 1 = 1
	1 * 2 = 2
	1 * 3 = 3
	1 * 4 = 4
	1 * 5 = 5
	1 * 6 = 6
	1 * 7 = 7
	1 * 8 = 8
	1 * 9 = 9
	1 * 10 = 10
Table 2:
	2 * 1 = 2
	2 * 2 = 4
	2 * 3 = 6
	2 * 4 = 8
	2 * 5 = 10
	2 * 6 = 12
	2 * 7 = 14
	2 * 8 = 16
	2 * 9 = 18
	2 * 10 = 20

# 6. LIST COMPREHENSION

In [28]:
# List comprehension is an elegant tool to transform one list into another list. 
# Instead of using loops and append, list comprehension is used to iterate over a list, condition its elements and include them in a new list.
# Let's take a look at the traditional way of taking a list and squaring its elements
input_list = [1, 2, 3, 4]
output_list = []

for element in input_list:
  output_list.append(element **2)

print(output_list)

[1, 4, 9, 16]

In [29]:
# List comprehension is a super powerful one line of code!
[element**2 for element in input_list]

[1, 4, 9, 16]

In [30]:
# Let's square even numbers only 
# We need to insert a condition 
input_list = [1, 2, 3, 4]
output_list = []

for element in input_list:
  if element%2 == 0:
    output_list.append(element**2)

print(output_list)

[4, 16]

In [31]:
# All this could be done with one line of code as well using List Comprehension
[element**2 for element in input_list if element%2 == 0]

[4, 16]

**MINI CHALLENGE #8:**
- **Write a code that takes in a list of prices of a stock for the past 7 days and then normalize the prices**

In [32]:
from logging import exception
while True:
  try:
    print('Enter a list of past 7-days prices separated by a space: ')
    prices = [int(x) for x in input().split()]
    if len(prices) != 7:
      raise Exception('Sorry, you need to provide a list of prices for the past 7 days!')
    break
  except Exception as e:
    print(e, '\nTry again!...')

Enter a list of past 7-days prices separated by a space:
hello
invalid literal for int() with base 10: 'hello'
Try again!...
Enter a list of past 7-days prices separated by a space:
150, 160
invalid literal for int() with base 10: '150,'
Try again!...
Enter a list of past 7-days prices separated by a space:
150 160
Sorry, you need to provide a list of prices for the past 7 days!
Try again!...
Enter a list of past 7-days prices separated by a space:
150 160 180 170 190 140 150

In [33]:
normalized_prices = [x/prices[0] for x in prices]
print(f"""
Orginal Prices   : {prices}
Normalized Prices: {normalized_prices}
""")

Orginal Prices   : [150, 160, 180, 170, 190, 140, 150]
Normalized Prices: [1.0, 1.0666666666666667, 1.2, 1.1333333333333333, 1.2666666666666666, 0.9333333333333333, 1.0]

# MINI CHALLENGE SOLUTION

**MINI CHALLENGE #1:**
- **Write a code that takes in a string and prints it out on the screen except for any letter 'T'. You can replace the letter 'T' with '*'.**

In [34]:
for letter in 'TSLA':
  if letter == 'T':
    print('*')
  else:
   print(letter)

*
S
L
A

**MINI CHALLENGE #2 SOLUTION:**
- **Write a code that takes in the maximum and minimum limits from the user and prints out even numbers only between the provided range**

In [35]:
min = int(input("Enter the price (lower bound: "))
max = int(input("Enter the price (Upper bound: "))

for i in range(min, max):
    if i%2 == 0: 
        print(i)

Enter the price (lower bound: 10
Enter the price (Upper bound: 22
10
12
14
16
18
20

**MINI CHALLENGE #3 SOLUTION:**
- **Write a code that generates the following table:**
```
1   1    1
2   4    8
3   9   27
4  16   64
5  25  125
6  36  216
7  49  343
8  64  512
9  81  729
10 100 1000
```

In [36]:
for x in range(1, 11):
    print('{} {} {}'.format(x, x*x, x*x*x))

1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729
10 100 1000

**MINI CHALLENGE #4 SOLUTION:**
- **Write a code that displays numbers from 1 to 30 (including 30) using for and while loops**

In [37]:
i = 1
while (i < 31):
  print (i)
  i = i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [38]:
for i in range(1, 31):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

**MINI CHALLENGE #5 SOLUTION:**
- **Create a rolling dice game that assume we have two dice (#1 and #2). The dice is being thrown and a random number is generated everytime. The game should be designed such that it prompts the user to ask if he/she would like to keep playing or exit the game.**

In [39]:
import random

keep_rolling = "y"

while keep_rolling == "y":
    print("Rolling the dices, please wait!...")
    print("Rolling results for Dice #1:", random.randint(1, 6))
    print("Rolling results for Dice #2:", random.randint(1, 6))

    keep_rolling = input("Do you want to roll again?")

Rolling the dices, please wait!...
Rolling results for Dice #1: 6
Rolling results for Dice #2: 3
Do you want to roll again?y
Rolling the dices, please wait!...
Rolling results for Dice #1: 2
Rolling results for Dice #2: 1
Do you want to roll again?n

**MINI CHALLENGE #6 SOLUTION:**
- **Write a code that continiously gets data from the user and calculates the average and print out on the screen. The code exits when the user enters 'e'.**

In [40]:
print("Keep entering numbers and I will display the average to you!")
avg = 0
n = 0
while True:
    x = input("Enter a number: ")
    
    # Check if the user wants to exit (i.e.: break the loop)
    if x == 'e':
      break
    
    x = int(x)
    n = n + 1
    
    avg =   ((avg * (n - 1) ) + x) / n
    print ("The current average is ", avg)

Keep entering numbers and I will display the average to you!
Enter a number: 10
The current average is  10.0
Enter a number: 22
The current average is  16.0
Enter a number: 30
The current average is  20.666666666666668
Enter a number: 30
The current average is  23.0
Enter a number: e

**MINI CHALLENGE #7 SOLUTION:**
- **Write a code that takes in a number (range between 1 and 9) from the user and print out the multiplication table up until that number.**

In [41]:
number = int(input("Enter a number between 1 and 9: "))

for x in range(1, number+1): # slow loop 
  for y in range(1, 11):   # fast loop
   print('{} x {} = {}'.format(x, y, x*y))

Enter a number between 1 and 9: 2
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

**MINI CHALLENGE #8 SOLUTION:**
- **Write a code that takes in a list of prices of a stock for the past 7 days and then normalize the prices**

In [42]:
print('Enter a list of past 7-days prices separated by a space:')
prices = [int(x) for x in input().split()]

Enter a list of past 7-days prices separated by a space:
150 160 180 140 150 170 160

In [43]:
normalized_prices = [ (i/prices[0]) for i in prices]
print('Orginal Prices: {}\nNormalized Prices: {}\n'.format(prices, normalized_prices))

Orginal Prices: [150, 160, 180, 140, 150, 170, 160]
Normalized Prices: [1.0, 1.0666666666666667, 1.2, 0.9333333333333333, 1.0, 1.1333333333333333, 1.0666666666666667]