In [1]:
#Environment preparation
import sys
!pip install expectexception

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: expectexception in /usr/local/lib/python3.7/dist-packages (0.1.1)

In [2]:
# Preparing environment
import expectexception

# %%expect_exception TypeError

# 1. BUILT-IN FUNCTIONS

In [3]:
# There are many built-in functions that you can leverage directly 
# Let's define 2 lists x and y
x = [4, 5, 1, 2, 8, 5]
y = list(range(1, 7))

print(x)
print(y)

[4, 5, 1, 2, 8, 5]
[1, 2, 3, 4, 5, 6]

In [4]:
# Let's obtain the length of y
len(y)

6

In [5]:
# Let's obtain the minimum value 
min(y)

1

In [6]:
# Let's obtain the maximum value
max(y)

6

In [7]:
# Let's create a tuple out of the list
z = tuple(x)

print(z)
type(z)

(4, 5, 1, 2, 8, 5)

tuple

In [8]:
# Let's obtain the sum of elements in x
sum(x)

25

**MINI CHALLENGE #1:**
- **Write a code that takes in 2 lists x = [-1 -4 -7] and y = [-3 7 4] and  calculates the absolute sum of all its elements |x+y|**

In [9]:
x = [-1, -4, -7]
y = [-3, 7, 4]

abs(sum(x + y))

4

In [10]:
sum([abs(i) for i in x + y])

26

# 2. FUNCTIONS

In [11]:
# Let's define a function named "my_function" that does not receive any arguments
# The function simply prints out content and does not return anything
def my_function():
  print('Welcome to Python for Finance course!')

# Function call
my_function()

Welcome to Python for Finance course!

In [12]:
# Define a function that takes in argument x and return the squared value 
def square(x):
  return x**2

# Call the function
square(4)

16

In [13]:
# Define a function with default value 
def default_value(x=20000):
  print(f'My total portfolio worth is: {x:,.0f}')

# If you pass an argument to the function, it overwrites the default value 
default_value(600000)

# If you don't pass an argument, the default value "20000" will be used instead
default_value()

My total portfolio worth is: 600,000
My total portfolio worth is: 20,000

**MINI CHALLENGE #2:** 
- **Write a code that takes in two inputs (number of shares and prices) from the user and calculate the total account balance**

In [14]:
def balance(shares, prices):
  return shares * prices

while True:
  try: 
    shares = int(input('Number of shares: '))
    prices = int(input('Price of each share: $'))
  except Exception as e:
    print(e, '\nTry again!...')
    continue

  print(f'Total account balance = ${balance(shares, prices):,.2f}')
  break

Number of shares: 100
Price of each share: $hello
invalid literal for int() with base 10: 'hello'
Try again!...
Number of shares: hello
invalid literal for int() with base 10: 'hello'
Try again!...
Number of shares: 100
Price of each share: $150
Total account balance = $15,000.00

# 3. LAMBDA EXPRESSIONS

In [15]:
# Lambda function is used to create a function without a name 
# Lambda functions are mainly used with filter() and map() [they will be discussed later on]. 
# Lambda function can receive any number of arguments, but can only have one expression.

# let's see how to create a basic function that squares the input
def my_function(x):
    return x**2

# Function call
my_function(3)

9

In [16]:
# We can do the same task using Lambda expression
# Note that there is no function name
f = lambda x: x**2

f(3)

9

In [17]:
# Note that lambda expression can take in more than one argument 
# there is only one expression that could be performed
suma = lambda x, y, z: x+y+z

suma(5, 3, 4)

12

**MINI CHALLENGE #3:**
- **Repeat mini challenge #2 (Write a code that takes in two inputs from the user and calculates the total) using lambda expressions instead**

In [18]:
balance = lambda shares, prices: shares * prices

while True:
  try: 
    shares = int(input('Number of shares: '))
    prices = int(input('Price of each share: $'))
  except Exception as e:
    print(e, '\nTry again!...')
    continue

  print(f'Total account balance = ${balance(shares, prices):,.2f}')
  break

Number of shares: 100
Price of each share: $150
Total account balance = $15,000.00

# 4. MAP

In [19]:
# The map() function takes in a function and a list.
# map() performs an operation on the entire list and return the results in a new list.
# Define two lists a and b
a = [1, 4, 5, 6, 9]
b = [1, 7, 9, 12, 7]
print(a)
print(b)

[1, 4, 5, 6, 9]
[1, 7, 9, 12, 7]

In [20]:
# Let's define a function that adds two elements together
def summa(x, y):
  return x + y

In [21]:
# You can now use map() to apply a function to the entire list and generate a new list
r = map(summa, a, b)
print(r, type(r))
print(list(r))

<map object at 0x7f2d4e98b4d0> <class 'map'>
[2, 11, 14, 18, 16]

In [22]:
# map could be used with Lambda as follows
# lambda function is an anonymous function that take any number of arguments and can only have one expression
input_list = [1, 2, 3, 4]

output_list = list(map(lambda x: x**2, input_list))
print(output_list)

[1, 4, 9, 16]

In [23]:
a = [1, 4, 5, 6, 9]
b = [1, 7, 9, 12, 7]

output_list = list(map(lambda x, y: x+y, a, b))
print(output_list)

[2, 11, 14, 18, 16]

**MINI CHALLENGE #4:**
- **Write a function that takes an argument and return its cubic value**
- **Define a list of integers ranging from -10 to 10** 
- **Apply the function to the entire list and generate a new output list**

In [24]:
input_list = range(-10, 10)
output_list = list(map(lambda x: x**3, input_list))

print(output_list)

[-1000, -729, -512, -343, -216, -125, -64, -27, -8, -1, 0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

# 5. FILTER

In [25]:
# filter is used to create a list of elements for which a function returns "True".
prices = [105, 5055, 40, 356, 923, 1443, 222, 62]

# return only even numbers
output_data = filter(lambda x: x%2 == 0, prices)
print(output_data, type(output_data))
print(list(output_data))

<filter object at 0x7f2d4e9a6810> <class 'filter'>
[40, 356, 222, 62]

In [26]:
# Return prices that are greater than or equal 100
list(filter(lambda x: x > 100, prices))

[105, 5055, 356, 923, 1443, 222]

In [27]:
# Return age between 200 and 250
list(filter(lambda x: 200 <= x <= 250, prices))

[222]

**MINI CHALLENGE #5:**
- **Write a code from the user that takes in a range (upper and lower bounds) and returns a list of positive and even numbers only**

In [28]:
while True:
  try:
    bounds = [int(x) for x in input('Enter the bounds (lower upper) of the range, separated by one space: ').split()]
    bounds[1] += 1
    if sorted(bounds) != bounds:
      raise Exception('Sorry, you need to input the lower value first!...')
  except Exception as e:
    print(e)
    continue

  input_list = range(*bounds)
  output_list = list(filter(lambda x: x>0 and x%2==0, range(*bounds)))
  print(f'''
  Input list: {list(input_list)}
  Positive and even numbers: {output_list}
  ''')
  break

Enter the bounds (lower upper) of the range, separated by one space: hello
invalid literal for int() with base 10: 'hello'
Enter the bounds (lower upper) of the range, separated by one space: 12, 20
invalid literal for int() with base 10: '12,'
Enter the bounds (lower upper) of the range, separated by one space: 10 -10
Sorry, you need to input the lower value first!...
Enter the bounds (lower upper) of the range, separated by one space: -10 26

  Input list: [-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]
  Positive and even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26]

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:**
- **Write a code that takes in 2 lists x = [-1 -4 -7] and y = [-3 7 4] and  calculates the absolute sum of all its elements |x+y|**

In [29]:
x = [-1, -4, -7]
y = [-3, 7, 4]
z = abs(sum(x+y))
z

4

**MINI CHALLENGE #2: SOLUTION** 
- **Write a code that takes in two inputs (number of units and prices) from the user and calculate the total account balance**

In [30]:
def total(units, price):
    amount = units * price
    return(amount)

In [31]:
num_shares = int(input("Enter the number of shares: "))
price = int(input("Enter the price per share: "))
account_balance = total(num_shares, price)

print('Total account balance = {}'.format(account_balance))

Enter the number of shares: 80
Enter the price per share: 120
Total account balance = 9600

**MINI CHALLENGE #3 SOLUTION**
- **Repeat mini challenge #2 (Write a code that takes in two inputs from the user and calculates the total) using lambda expressions instead**

In [32]:
num_shares = int(input("Enter the number of shares: "))
price = int(input("Enter the price per share: "))

account_balance = lambda num_shares, price : num_shares * price
print('Total = {}'.format(account_balance(num_shares, price)))

Enter the number of shares: 80
Enter the price per share: 120
Total = 9600

**MINI CHALLENGE #4 SOLUTION:**
- **Write a function that takes an argument and return its cubic value**
- **Define a list of integers ranging from -10 to 10** 
- **Apply the function to the entire list and generate a new output list**

In [33]:
def cubic(x):
    return (x*x*x)

numbers = range(-10, 11)
numbers_cubed = list(map(lambda x: cubic(x), numbers))
print(list(numbers))
print(numbers_cubed)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[-1000, -729, -512, -343, -216, -125, -64, -27, -8, -1, 0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

**MINI CHALLENGE #5 SOLUTION:**
- **Write a code from the user that takes in a range (upper and lower bounds) and returns a list of positive and even numbers only**

In [34]:
min = int(input("Enter a number (lower bound) *must be negative* : "))
max = int(input("Enter a number (Upper bound:) "))

numbers = range(min, max)
even_greater_than_zero = list(filter(lambda x: (x > 0 and x%2 == 0), numbers))
print(even_greater_than_zero)

Enter a number (lower bound) *must be negative* : -5
Enter a number (Upper bound:) 22
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]